<%= form_with(model: @blog, local: true ) do |t| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="blog_title">
    <%= t.label :件名 %><br>
    <%= t.text_field :title %>
  </div>
  <div class="blog_title">
    <%= t.label :内容 %><br>
    <%= t.text_area :content %>
  </div>
  <%= t.submit %>
<% end %>

<%= link_to "一覧画面にもどる", blogs_path %>