<h3>全ユーザー投稿一覧</h3>

<p><%= notice %></p>

<% @blogs.each do |blog| %>

  <div class="one_blog">
    <p class="blog_user"><small>投稿者:</small> <%= blog.user.name %>さん</p>
    <p class="blog_content"><%= blog.content %></p>
    <div class="blog_option">
      <p><%= link_to '詳細を見る', blog_path(blog.id) %></p>
      <% if blog.user_id == current_user.id %>
        <p><%= link_to "編集する", edit_blog_path(post.id) %></p>
        <p><%= link_to "削除する", blog_path(post.id), method: :delete, data: { confirm: '本当に削除しますか？' }  %></p>
      <% end %>
    </div>
  </div>
<% end %>

<p class="to_other_page"><%= link_to '新しく投稿する', new_blog_path %></p>
